.slick-prev {
    left: 5% !important;
    color: grey;
    z-index: 1;
    padding-bottom: 17%;
  }
  .slick-next {
    right: 6% !important;
    z-index: 1;
    padding-bottom: 17%;

  }
  a{
    text-decoration: none;
    color: #282828
  }
  a:hover{
    color: rgb(240, 137, 137);
    
  }
  .links{
    font-family: Helvetica, Verdana,Arial,sans-serif;
  }